.footer-subscribe {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-subscribe__form {
  width: 100%;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    width: 570px;
  }
}

.footer-subscribe__wrapper {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    width: 358px;
    margin-right: 8px;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;
  display: block;
}

.footer-subscribe__input {
  display: block;
  width: 100%;
  padding: 15px 16px;

  border-radius: 4px;
  outline: none;
  border: 1px solid #ffffff4d;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: inherit;

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    vertical-align: center;
    letter-spacing: 0.03em;
    color: #ffffff99;
  }
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:not(:placeholder-shown) {
    color: var(--primary-title-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-subscribe__button {
  background-color: $accent-color;
  color: $primary-bg-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.footer-subscribe__icon {
  margin-left: 10px;
}
